/* 64px это отступы с боков */
.page {
    max-width: calc(100vw - 128px);
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 850px) {
    .page {
        max-width: calc(100vw - 16px);
    }
}