@font-face {
    font-family: 'SF Pro';
    src: url('/assets/SF-Pro-f.ttf') format('truetype');
}

/* @font-face {
    font-family: 'SF Pro H';
    src: url('/assets/SF-Pro-f.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro P';
    src: url('/assets/SF-Pro-f.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/assets/SF-Pro-f.ttf') format('truetype');
    font-stretch: expanded;
} */