.application {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.application > div {
    flex-wrap: wrap-reverse;
}

.application__h {
    display: inline-block;
    position: relative;
}

.application__h h2 {
    font-size: 12vw;
    line-height: 68%;
    font-stretch: expanded;
    font-weight: 500;
    display: inline-block;
    margin: 48px 0 81px;
}

.application__image {
    position: absolute;
    bottom: 9%;
    right: 1%;
    width: 14vw;
}

.application__block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    
}

.application__grid {
    width: calc(50vw - 64px);
}

.application__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.application__text>div {
    flex: 1;
}

.application__text>div>p {
    font-size: 1.3vw;
    font-weight: 200;
}

.application__text>div:first-child {
    margin-right: 1.25vw;
}

.application__text div h2 {
    font-size: 2vw;
    font-weight: 500;
    width: 25vw;
    margin-bottom: 22px;
}

@media (max-width: 850px) {
    .application__h h2 {
        font-size: 19vw;
        margin: 8vw 0 6vw;
    }
    
    .application__image {
        bottom: -48%;
        right: 0;
        width: 19vw;
    }
    
    .application__grid {
        width: calc(100vw - 16px);
        margin-bottom: 8px;
    }
    
    .application__block {
        width: calc(100vw - 16px);
        padding: 10px;
        background-color: #171717;
        border-radius: 0 0 26px 26px;
        flex-wrap: wrap-reverse;
    }

    .application__text {
        margin-bottom: 8px;
    }

    .application__text>div>p {
        font-size: 2.6vw;
    }

    .application__text div h2 {
        font-size: 4vw;
        font-weight: 500;
        width: 50vw;
        margin-bottom: 2px;
    }
}