.grid__qr {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.grid__qr>* {
    position: relative;
}

.grid__image {
    width: calc(50vw - 92px);
    height: auto;
    position: relative;
}

.grid__qr div a,
.grid__qr div p {
    position: absolute;
    color: white;
    text-align: center;
}

.arr {
    position: absolute;
    width: 10vw;
    top: 1.5vw;
    left: calc(60vw - 20px);
    display: none;
}

.grid__qr div p {
    text-align: start;
    font-size: 2.2vw;
}

.grid__image a {
    left: 58%;
    top: 6%;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fe6110;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 310px;
    transition: all .5s;
    font-weight: 600;
    font-size: 0.8vw;
}

.grid__image a:hover {
    border: 1px solid #ffff;
    color: #FE6110;
}

.grid__qr div p {
    position: absolute;
    bottom: 52%;
    left: 6%;
    width: 33vw;
}

.roundedImage {
    background-color: #1C1C1C;
    padding: 10px;
    border-radius: 40px;
    width: 100%;
    height: auto;
}

.grid__video {
    padding-left: 2vw;
}

@media (max-width: 850px) {
    .grid__image {
        width: calc(100vw - 40px);
    }
    
    .grid__image:nth-child(2) {
        margin-top: 16px;
    }
    
    .grid__image a {
        font-size: 1.6vw;
    }
    
    .grid__qr div p {
        width: 67vw;
        font-size: 4.5vw;
    }
    
    .roundedImage {
        padding: 0;
        width: 100%;
        height: auto;
        border-radius: 0 0 40px 40px;
    }
    
    .grid__qr {
        padding: 10px;
        background-color: #1C1C1C;
        border-radius: 0 0 40px 40px;
        margin-top: 16px;
        flex-wrap: wrap;
    }

    .arr {
        display: block;
    }

    .grid__image a {
        display: none;
    }

    .grid__video {
        padding: 0;
    }
}